<div class="input-group">
  <div class="gt" style="width: 100%;">
    <div class="gtc">
      <label for="username">Username</label>
    </div>
    <div class="gtc is-right">
      <span class="label label-success" *ngIf="usernameCtrl.value == checkuser && checkuser != ''">
        <span class="glyphicon glyphicon-ok"></span> Available
      </span>
      <span class="label label-danger" *ngIf="usernameCtrl.value != checkuser && checkuser != ''">
        <span class="glyphicon glyphicon-remove"></span> Already taken
      </span>
    </div>
  </div>
  <input type="text" name="username" class="form-control" required
    [(ngModel)]="username" #usernameCtrl="ngModel" (ngModelChange)="checkuser = ''"
    minlength="4" maxlength="24">
</div>
<app-form-error-message [control]="usernameCtrl" [value]="username"
  [messages]="validationMessages"></app-form-error-message>