<div class="panel panel-default panel-small" *ngIf="user">
  <div class="panel-heading">
    <h3 class="panel-title">Change Password</h3>
  </div>
  <div class="panel-body">
    <form name="changePassword" role="form" (ngSubmit)="onSubmit()" #passwordForm="ngForm">
      <div *ngIf="!user.token">
        <div class="input-group">
          <label for="current_password">Current Password</label>
          <input type="password" name="current_password" class="form-control" required
            [(ngModel)]="user.current_password" #current_password="ngModel">
        </div>
        <app-form-error-message [control]="current_password" [value]="current_password.value"
          [messages]="validationMessages"></app-form-error-message>
      </div>
      <div class="input-group mar-t20">
        <label for="new_password">New Password</label>
        <input type="password" name="new_password" class="form-control" required
          [(ngModel)]="user.new_password" #new_password="ngModel">
      </div>
      <app-form-error-message [control]="new_password" [value]="new_password.value"
        [messages]="validationMessages"></app-form-error-message>
      <div class="input-group mar-t10">
        <label for="password_confirm">New Password Confirmation</label>
        <input type="password" name="password_confirm" class="form-control" required
          [(ngModel)]="user.password_confirm" #password_confirm="ngModel" equalTo="{{new_password.value}}">
      </div>
      <app-form-error-message [control]="password_confirm" [value]="password_confirm.value"
        [messages]="validationMessages"></app-form-error-message>
      <div class="mar-t10">
        <button class="btn btn-default" type="submit" [disabled]="!passwordForm.valid">
          Change
        </button>
      </div>
    </form>
  </div>
</div>